* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    border-style: solid;
    border-radius: 40%;
    margin-top: 20px;
    border: none;
}

body{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
perspective: 1000px;
 
}

.container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 35rem;
    border-radius: 35px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.jacket {
    min-height: 30vh;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.jacket img{
    width: 20rem;
    z-index: 2;

   
}

.info h1 {
    font-size: 3rem;
  
}
.info h3 {
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
   
}


.size {
    display: flex;
    justify-content: space-between;
    
}
.size button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;

}

button.active {
    background: #585858;
    color: white;
}

.purchase{
    margin-top: 5rem;
    margin-bottom: 2rem;
    transition: all 0.75s ease-out;
}

.purchase button {
    width: 100%;
    padding: 1rem 0rem;
    background: #f54642;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
}